html {
  min-height: 100%;
}

body {
  background: linear-gradient(#a5d6a7, #75a478);
  font-family:  'Annie Use Your Telescope', cursive;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
}

img {
  margin-top: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

a {
  margin: 0px 1px 0px 1px;
  padding: 0px 4px 0px 4px;
  color: #212121;
  text-decoration: none;
}

a:focus, a:hover {
  color: #484848;
}

a:active {
  color: #606060;
}

#cat {
  bottom: 0px;
  left: 0px;
  position: fixed;
  width: 250px;
  z-index: -1;
}