body {
  background-color: #ffe082;
  font-family:  'Annie Use Your Telescope', cursive;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
}

img {
  margin-top: 20px;
  border-radius: 50%;
  border: 1px solid black;
  max-width: 100%;
}

a {
  margin: 0px 1px 0px 1px;
  padding: 0px 4px 0px 4px;
  color: black;
  text-decoration: none;
  border-radius: 25%;
}

a:focus, a:hover {
  background-color: #ffffb3;
}

a:active {
  background-color: #f9f9b9;
}

#cat {
  bottom: 0px;
  left: 0px;
  position: fixed;
  width: 250px;
  z-index: -1;
}